.poster_container {
  margin-bottom: 30px;
}
.poster {
  object-fit: contain;
  width: 100%;
  max-height: 30vh;
  transition: transform 450ms;
}

.poster:hover {
  transform: scale(1.1);
}

@media only screen and (max-width: 768px) {
  /* For mobile phones: */
  [class*="poster"] {
    max-height: 30vh;
  }
}

@media only screen and (min-width: 992px) {
  /* For mobile phones: */
  [class*="poster"] {
    max-height: 40vh;
  }
}
